extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  +alert-success(3000)
  +alert-error(3000)
  .m-2
    h1(class="mb-4") Thêm mới tài khoản
    form(
      action=`${prefixAdmin}/accounts/create`
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")


