//- extends ../../layouts/default.pug
//- include ../../mixins/alert.pug
//- block main
//-   +alert-error(3000)
//-   h1(class="mb-4") Thêm mới tài khoản
//-   form.m-2(
//-     action=`${prefixAdmin}/accounts/create`
//-     id="form-create-accounts"
//-     method="POST"
//-     enctype="multipart/form-data"
//-   )
//-     div(class="form-group")
//-       label(for="fullName") Họ tên *
//-       input.form-control(
//-         type="text" 
//-         id="fullName" 
//-         name="fullName"
//-         required
//-       )
//-     .form-group
//-       label(for="email") Email *
//-       input.form-control(
//-         type="email"
//-         id="email"
//-         name="email"
//-         required
//-       )
//-     .form-group
//-       label(for="password") Mật khẩu *
//-       input.form-control(
//-         type="password"
//-         name="password"
//-         id="password"
//-         required
//-       )
//-     div(class="form-group")
//-       label(for="phone") Số điện thoại
//-       input(
//-         type="text"
//-         class="form-control"
//-         id="phone"
//-         name="phone"
//-       )
//-     .form-group.mb-2(upload-image)
//-       label(for="avatar") avatar
//-       input.form-control(
//-         type="file"
//-         class="form-control-file"
//-         id="avatar"
//-         name="avatar"
//-         accept="image/*"
//-         upload-image-input
//-       )
//-       img(
//-         src=""
//-         upload-image-preview
//-         class="image-preview"
//-       )
//-     div(class="form-group")
//-       label(for="role_id") Phân quyền
//-       select(name="role_id" id="role_id" class="form-control form-select")
//-         option(disabled) -- Chọn --
//-         <option value="1">Quản trị viên</option>
//-         <option value="2">Quản trị nội dung</option>
        
//-     div(class="form-group form-check form-check-inline")
//-       input(
//-         type="radio"
//-         class="form-check-input"
//-         id="statusActive"
//-         name="status"
//-         value="active"
//-         checked
//-       )
//-       label(for="statusActive" class="form-check-label") Hoạt động
//-     div(class="form-group form-check form-check-inline")
//-       input(
//-         type="radio"
//-         class="form-check-input"
//-         id="statusInActive"
//-         name="status"
//-         value="inactive"
//-       )
//-       label(for="statusInActive" class="form-check-label") Dừng hoạt động
//-     .form-group.mb-2 
//-       button.btn.btn-primary(type="submit") Tạo mới
