extends ../../layouts/default
block main
  .m-2
    h1 Danh sách tài khoản
    .card.mb-3
      .card-header Danh sách
        .card-body
          .row
            .col-8
            .col-4.text-right
              a(
                href=`${prefixAdmin}/accounts/create`
                class="btn btn-outline-success"
              ) + Thêm mới
          table(
        class="table table-hover table-sm"
      )
        thead
          tr
            th STT
            th Avatar
            th Họ tên
            th Phân quyền
            th Email
            th Trạng thái
            th Hành động
              