extends ../../layouts/default.pug

block main
  .m-2
    .card-title.mb-1
      h1.ms-2 Danh sách sản phẩm
    .card.mb-3
      .card-header Danh sách
        .card-body
          .row
            .col-10
              +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
            .col-2
              a.btn.btn-outline-success(href=`${prefixAdmin}/products/create`) + Thêm mới
          
          table.table.table-hover.table-sm.mt-4(
            checkbox-multi
          )
            thead
              tr
                th 
                  input(class="form-check-input" type="checkbox" name="checkAll")
                th STT
                th Hình ảnh
                th Tiêu đề
                th Giá
                th Vị trí
                th Trạng thái
                th Hành động
                th Chi tiết

