body {
  min-height: 100vh;
  background-color: seagreen;
}

.wrapper {
  color: #fff;
}

.input__box {
  position: relative;
}

.input__box input {
  padding: 5px 30px 5px 30px;
}

.input__box i {
  position: absolute;
  padding: 5px;
}
