body {
  min-height: 100vh;
  background-color: seagreen;
}

.wrapper {
  color: #fff;
  background-color: seagreen;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.input__box {
  position: relative;
}

.input__box input {
  padding: 10px 30px 10px 30px;
  background-color: ;
  
}

.input__box i {
  position: absolute;
  padding: 5px;
}
