header.header
  .container-fluid
    .row.align-items-center
      .col-12
        .d-flex.justify-content-between
          .inner-logo
            a.ms-2(href="/admin/dashboard") ADMIN
          div(class="text-right")
            div(class="user")
              a(class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown")
                img(src="/images/iphone.png" alt="Profile" class="rounded-circle avatar-user")
                span(class="d-none d-md-block dropdown-toggle ps-2") K. Anderson

            div(class="logout")
              a(
                href=`${prefixAdmin}/auth/logout`
                class="btn btn-danger btn-sm"
              ) Đăng xuất
