.col-4.sidebar
  .inner-menu
    ul 
      li
        a.fs-6(href=`${prefixAdmin}/dashboard`) Tổng quan
      li
        a.fs-6(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
      li
        a.ffs-6(href=`${prefixAdmin}/products`) Danh sách sản phẩm
      li
        a(href="#!") Login