mixin alert-success(time)
  if messages.success
    .message.info.col
      .alert.alert-success.fs-6(
        show-alert 
        data-time=time
      ) #{messages.success} <span close-alert>x</span>