mixin alert-success(time)
  if messages.success
    .message.info.w-25
      .alert.alert-success.fs-(
        show-alert 
        data-time=time
      ) #{messages.success} <span close-alert>x</span>