mixin dropdown()
  ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.profile
  li.dropdown-header
    h6 Kevin Anderson
    span Web Designer
  li
    hr.dropdown-divider
  li
    a.dropdown-item.d-flex.align-items-center(href='users-profile.html')
      i.bi.bi-person
      span My Profile
  li
    hr.dropdown-divider
  li
    a.dropdown-item.d-flex.align-items-center(href='users-profile.html')
      i.bi.bi-gear
      span Account Settings
  li
    hr.dropdown-divider
  li
    a.dropdown-item.d-flex.align-items-center(href='pages-faq.html')
      i.bi.bi-question-circle
      span Need Help?
  li
    hr.dropdown-divider
  li
    a.dropdown-item.d-flex.align-items-center(href='#')
      i.bi.bi-box-arrow-right
      span Sign Out
