extends ../../layouts/default.pug
block main
  .m-2
    .card-title.mb-1
      h1.ms-2 Danh mục sản phẩm

    .card.mb-3
      .card-header Danh sách
        .card-body
          .row
            .col-10
            .col-2
              a.btn.btn-outline-success(href=`${prefixAdmin}/products-category/create`) + Thêm mới


// _id title description thumbnail status position deleted deletedAt 
    


